    /*font-family: 'Cabin', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/


/* GENERAL STUFF */

html {
    height: 100%;
}

body {
    margin: 0px;
    display: block;
    height: 100%;
}

.svg-area {
    /*width: 1300px;*/
}


/* LAYOUT STUFF */

.bikeView-page {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

.master-nav {
    flex: 0;
    background-color: #fafafa;
    min-height: 50px;
    /*height: 7%;*/
    width: 100%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #979797;
}

.svg-div {
    margin-top: 10px;
}

.viz-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: inherit;
}

.left-rail {
    flex: 0;
    background-color: inherit;
    min-width: 10px;
    flex-grow: 1;
}

.right-rail {
    flex: 2;
    background-color: inherit;
    flex-grow: 1;
}

.action-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*max-width: 1000px;*/
}

.title-area {
    flex: 0;
    background-color: inherit;
    font-family: 'Cabin';
    font-size: 22px;
    letter-spacing: 0px;
    /*font-weight: re;*/
}

.viz-area {
    flex: 1;
    background-color: #fafafa;
    margin-right: 0px;
    /*width: 75%*/
    position: relative;
}

.sub-axis-label {
    font-family: 'PT Sans';
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: 20px;
    right: 50px;
    color: #898989;
}

.cust-axis-label {
    font-family: 'PT Sans';
    font-size: 14px;
    font-style: italic;
    position: absolute;
    top: -50px;
    right: 50px;
    color: #898989;
}

.next-button-div {
   position: absolute;
   top: 0px;
   right: 50px;
}

.BV-legend {
   position: absolute;
   top: -50px;
   left: 50px;
}

.BV-legend-icon {
    width: 12px;
    height: 4px;
    float: left;
    margin-top: 8px;
    margin-right: 5px
}

.BV-legend-label {
   font-family: 'PT Sans';
   font-size: 14px;
   float: left;
   margin-right: 11px;
}

.BV-legend-male {
   background-color: #68B3EB;
}

.BV-legend-female {
   background-color: #E86E82;
}

.BV-legend-nodata {
   background-color: #EB9A5B;
}

.UI-area {
    flex: 2;
    background-color: inherit;
    min-height: 70px;
    position: relative;
}

.BV-sorting-copy {
   font-family: 'PT Sans';
   font-size: 18px;
   margin-top: 7px;
   margin-right: 10px;
   float: left;
}

.BV-button {
   font-family: 'PT Sans';
   font-size: 17px;
}

.BV-sort-buttons {
   margin-right: 10px;
   float: left;
}

.BV-footnote-area {
   font-family: 'PT Sans';
   font-size: 12px;
   font-style: italic;
   color: #898989;
}

.bikeView-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.col {
    margin: 0px;
}

.transitionView-mapSection {
    height: 100%;
    margin-bottom: 0px;
}


/* MAP STUFF */

#map {
    position: relative;
    width: 0px;
    height: 0px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-marker {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

#mapBoxMap {
    float: right;
    width: 100%;
    height: 100%;
}

#flyButton {
    display: inline;
    position: relative;
    margin: 10px auto;
    /*width: 50%;*/
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#flyButton {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* IMAGE STUFF */

.theStationImage {
    /*width: 50%;*/
}

.theStationImage {
    width: 100%;
    height: 100%;
}


/* VIZ STUFF */

.bike-number {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.birth-certificate {
    font-family: 'PT Sans';
    font-size: 18px;
    margin-bottom: 15px;
}

.vis {
    margin: 0;
}

.ride-box:hover {
    fill: yellow
}

.case-male {
    fill: #68B3EB;
}

.case-female {
    fill: #E86E82;
}

.case-genderUnknown {
    fill: #EB9A5B;
}

.ride-box {
    border-radius: 5px;
}

.month-axis {
    fill: #333;
    border-style: solid;
    border-color: #fafafa;
    border-width: medium;
}

.month-axis-label {
    font-family: 'PT Sans';
    fill: white;
}

.age-axis {
    fill: #333;
}

.age-axis-label {
   margin-top: 2px;
    font-family: 'PT Sans';
    fill: white;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    /*height: 50px;*/
    padding: 6px;
    padding-left: 8px;
    font-family: 'PT Sans';
    font-size: 14px;
    letter-spacing: .5px;
    background: #454545;
    color: #fafafa;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tip-title {
   font-size: 19px;
   font-family: 'Cabin';
}


/* TRANSITION VIEW */

#transitionView-streetViewImage {
    position: fixed;
    height: 300px;
    width: 450px;
    background-color: black;
    top: 85%;
    left: 50%;
    opacity: 0;
    border-radius: 20px;
    overflow:hidden;
    /* bring your own prefixes */
    transform: translate(-50%, -85%);
}

#transitionView-stationLabel {
  position: fixed;
  text-align: center;
  font-size: 260%;
  font-family: Cabin;
  height: 70px;
  width: 600px;
  top: 94%;
  left: 50%;
  border-radius: 20px;
  background-color: white;
  /* bring your own prefixes */
  transform: translate(-50%, -97%);
  opacity: 0;
}

.storypart {
    position: absolute;
    width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
}

.storypart p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Cabin;
  font-size: 240%;
}

#beginningStoryText {
  opactiy: 0;
}

#endStoryText {
  opacity: 0;
}

#FullScreenMapBoxMap {
  opacity: 0;
}

#openingview-storyText {
  position: absolute;
  top: 14%;
  left: 0;
  font-family: Cabin;
  font-size: 300%;
  text-align: center;
  margin: 0 auto;
  right: 0;
  width: 60%;
  border: 8px solid black;
  padding: 15px;
}

#openingview-bikeGIF {
  width: 100%;
  height: 65%;
  transform: translate(0%, 55%);
}

#openingview-personaFirst {
  display: inline-block;
  font-family: Cabin;
  font-size: 500%;
  transform: translateY(15%);
}

#openingview-personaSecond {
  display: inline-block;
  font-family: Cabin;
  font-size: 500%;
  transform: translateY(15%);
}

#openingview-personaThird {
  display: inline-block;
  font-family: Cabin;
  font-size: 500%;
  transform: translateY(15%);
  margin-left: -20px;
}


#openingview-dropdownAge {
  display: inline-block;

}

#openingview-dropdownGender {
  display: inline-block;

}

#openingview-personaPart {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 50px 50px 70px 50px;
  border:10px solid black;

}

.dropdown {
  width: 250px;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown-toggle {
  width: 100%;
  font-size: 40px;
  font-family: Cabin;
}

.dropdown-menu {
  font-size: 40px;
  font-family: Cabin;

}

#openingview-nextArrow {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
}

#openingview-allPersona {
  opacity: 0;
}

#openingview-MasterNav {
  height: 55px;
}

.openingView-content {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
