/*font-family: 'Cabin', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/

/* GENERAL STUFF */
html {
   height: 100%;
}

body {
   margin: 0px;
   display: block;
   height: 100%;
}

/* LAYOUT STUFF */
.bikeView-container {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  height: 100%;
}

.bikeView-left {
  flex:0;
  background-color: lightgray;
  margin-right: 5px;
  width: 75%
}

.bikeView-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.col {
  margin: 0px;
}

.bikeView-mapSection {
   height: 75%;
   margin-bottom: 5px;
  }

.bikeView-imageSection {
   height: 20%;
   background: white;
   margin: 0;
  }

.bikeView-UIsection {
   height: 5%;
   background: white;
   margin: 0;
  }

/* MAP STUFF */
#map {
    position: relative;
    width: 0px;
    height: 0px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-marker {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

#mapBoxMap {
    float: right;
    width: 100%;
    height: 100%;
}

#flyButton {
    display: inline;
    position: relative;
    margin: 10px auto;
    /*width: 50%;*/
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#flyButton {
   width: 100%;
   height: 100%;
   margin: 0;
}

/* IMAGE STUFF */
.theStationImage {
   /*width: 50%;*/
}

.theStationImage {
   width: 100%;
   height: 100%;
}

/* VIZ STUFF */
.bikeVizTitle {
   font-family: 'Cabin', sans-serif;
   font-size: 34px;
}

.vis {
   margin: 0;
}
