/*font-family: 'Cabin', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/

/* GENERAL STUFF */
html {
   /*height: 100%;*/
}

body {
   margin: 0px;
   display: block;
   /*height: 100%;*/
}

/* LAYOUT STUFF */
.bikeView-page {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  height: 100%;
  width: 100%;
}

.master-nav {
   flex: 0;
   background-color: yellow;
   min-height: 30px;
   height: 5%;
   width: 100%;
}

.viz-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
}

.left-rail {
   flex: 0;
   background-color: blue;
   min-width: 10px;
   flex-grow: 1;
}

.right-rail {
   flex: 2;
   background-color: blue;
   flex-grow: 1;
}

.action-area {
   flex: 1;
   display: flex;
   flex-direction: column;
   max-width: 1000px;
}

.title-area {
   flex: 0;
   background-color: green;
}

.viz-area {
  flex: 1;
  background-color: lightgray;
  /*margin-right: 5px;*/
  /*width: 75%*/
}

.UI-area {
   flex: 2;
   background-color: purple;
   min-height: 70px;
}

.bikeView-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.col {
  margin: 0px;
}

.bikeView-mapSection {
   height: 75%;
   margin-bottom: 5px;
  }

.bikeView-imageSection {
   height: 20%;
   background: white;
   margin: 0;
  }

.bikeView-UIsection {
   height: 5%;
   background: white;
   margin: 0;
  }

/* MAP STUFF */
#map {
    position: relative;
    width: 0px;
    height: 0px;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-marker {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

#mapBoxMap {
    float: right;
    width: 100%;
    height: 100%;
}

#flyButton {
    display: inline;
    position: relative;
    margin: 10px auto;
    /*width: 50%;*/
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#flyButton {
   width: 100%;
   height: 100%;
   margin: 0;
}

/* IMAGE STUFF */
.theStationImage {
   /*width: 50%;*/
}

.theStationImage {
   width: 100%;
   height: 100%;
}

/* VIZ STUFF */
.bikeVizTitle {
   font-family: 'Cabin', sans-serif;
   font-size: 34px;
}

.vis {
   margin: 0;
}

.ride-box:hover {
   fill: yellow
}

.case-male {
   fill: #7E8A96;
}

.case-female {
   fill: #C47856;
}

.case-genderUnknown {
   fill: #4F1948;
}
